:host {
  display: block;
  width: 250px;      
  max-width: 100%;    
}

.box {
  padding: 12px;
  border: 1px solid #e0e0e0;
  background-color: #f7f7f7;
}

.new-epic-button{
  padding: 20px;
}

input{
  width: 100%;
  border: green 2px solid;
  padding: 10px;
}