<div class="card epic-item">
  <header class="card-header">
    <button (click) = "onDropDownClick()" type="button" class="button is-white is-small">
      <span class="icon is-small">
        <i class="fa-solid fa-chevron-down"></i>
      </span>
    </button>

    <span class="tag epic-header-color"></span>

    <p class="card-header-title is-size-7">{{ title }}</p>

    <button class="button is-white is-small">
      <span class="icon is-small">
        <i class="fa-solid fa-ellipsis"></i>
      </span>
    </button>
  </header>
  <div class="progress-container">   
  <progress
      class="progress is-small is-success"
      [value]="progress"
      max="100">
    </progress>
</div> 
  <div *ngIf = "isDropDown" class="card-content">

    <div class="content is-size-7">
      <p class="has-text-grey">Start date</p>
      <p>{{ startDate }}</p>
      <p class="has-text-grey">Due date</p>
      <p>{{ dueDate }}</p>
    </div>

    <button class="button is-light is-fullwidth is-small" (click)="onViewDetails()">
      View all details
    </button>
  </div>
</div>